html {
  --ion-safe-area-top: var(--safe-area-inset-top);
  --ion-safe-area-bottom: var(--safe-area-inset-bottom);
  --ion-safe-area-left: var(--safe-area-inset-left);
  --ion-safe-area-right: var(--safe-area-inset-right);
}

ion-item.md::part(native) {
  background: transparent;
}

ion-list.md {
  background: transparent;
}

ion-item.md.active::part(native) {
  background: var(--ion-background-color-step-50);
}

ion-list.md.active {
  background: transparent;
}

ion-modal.statusPickerModal {
  --width: max-content;
  --min-width: 300px;
  --max-width: 300px;
  --height: auto;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --backdrop-opacity: 0.6;
}

ion-modal.statusPickerModal .wrapper {
  padding: 16px;
}

ion-modal.statusPickerModal ion-item {
  --background: transparent;
}

ion-modal.statusPickerModal ion-list {
  background: transparent;
}

hr {
  background: var(--ion-color-medium);
  margin: 26.4px 0;
}

ion-header.ion-no-border {
  border-bottom: 1px solid var(--ion-color-light);
}

@media (prefers-color-scheme: dark) {
  ion-header.ion-no-border {
    border-bottom: 1px solid var(--ion-color-light-shade);
  }
}

ion-header.ion-no-border ion-toolbar {
  --background: var(--ion-background-color, var(--ion-background-color, #fff));
}

ul {
  padding-left: 24px;
}

blockquote {
  margin: 12px 0 12px 12px;
  padding: 0 0 0 12px;
  position: relative;
  box-sizing: border-box;
  color: var(--ion-color-medium-shade);
}

blockquote::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 110%;
  width: 2px;
  background: var(--ion-color-primary);
}