ion-item.task-item .status-wrapper {
  display: flex;
  padding: 4px;
  margin-inline-end: 16px;
  align-items: center;
  justify-content: start;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  align-self: flex-start;
  margin-top: 6px;
}

ion-item.task-item .status-wrapper ion-icon {
  font-size: 22px;
}

ion-item.task-item button {
  z-index: 3;
}

ion-item.task-item.active {
  background: var(--ion-background-color-step-50);
}